# Environment
.env
.env.local
.env.*.local

# JWT Keys
*.pem

# Config JWT
back/config/jwt/*
!back/config/jwt/.gitkeep

# Node
node_modules/
dist/
build/
.next/

# Go
*.exe
*.dll
*.so
*.dylib
bin/
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Temporary
tmp/
temp/
